services:
  postgres:
    container_name: postgres_chat_go
    image: postgres:16.4
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      PGDATA: /data/postgres/chat
    command: postgres -p 5600  # Запуск с другим портом внутри контейнера
    volumes:
      - ./postgres-data/chat:/data/postgres/chat
    ports:
      - "0.0.0.0:5600:5600"
    restart: unless-stopped