services:
  mongodb:
    image: mongo:7.0-jammy
    container_name: platform_mongodb
    env_file:
      - platform.env
    ports:
      - "27020:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:

# networks:
#   - platform-network
