version: "3.8"

services:

  sso:
    image: sso-backend
    container_name: sso-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 44044:44044
      - 8090:8090
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    

  postgres:
    container_name: postgres_sso_go
    image: postgres:16.4
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
      
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "0.0.0.0:5555:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
  

  redis:
    container_name: redis_cache
    image: redis:7.4
    environment:
    - REDIS_PASSWORD=redis_password
    volumes:
      - redis-data:/data
    ports:
      - "0.0.0.0:6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "redis_password", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - app-network

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    ports:
      - "8081:8081"
    environment:
      - REDIS_HOSTS=local:redis:6379
      - REDIS_PASSWORD=redis_password
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

volumes:
  redis-data:
  postgres-data:

networks:
  app-network:
    driver: bridge